*{
  margin: 0;
  padding-top: 10px;
}

#form-in-time{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-bottom: 10px;
}

table{
  margin: auto;
  width: 50%;
  padding: 10px;
  border-collapse: collapse;
}

table thead, table th{
  background-color: green;
  color: #fefefe;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

table tr:nth-child(even){
  background-color: #cefad0;
}

table td{
  border-radius: 5px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

button{
  border-radius: 5px;
  padding: 4px;
  background-color: green;
  border: none;
  color: #fefefe;
}

input{
  padding: 4px;
}